# General
.DS_Store
*.log
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
instance/
*.flaskenv


# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
build/
coverage/

# VSCode
.vscode/
*.code-workspace

# macOS
.DS_Store


# Thumbnails
._*

